/* osa Demos CSS */
.osa-demos strong { font-weight: bold; }
.osa-demos img { max-width: 100%; }

/* Page */
body, .osa-demos  {
	background-color: #fefefe;
}

/* Header */
.osa-header {
	background: #fff;
	border-top: 3px solid #6ABA2F;
	border-bottom: 1px solid #e0e0e0;
	color: #777;
	text-shadow: 0 1px 0 #fff;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.15);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.15);
	box-shadow: 0 0 5px rgba(0,0,0,.15);
}
.osa-header.ui-header-fixed:not(.ui-fixed-hidden) {
	border-top-width: 4px;
	padding-top: 0;
}

/* Logo */
.osa-header h1.osa-logo {
	font-size: 1em;
	margin: 1.2em 3.375em 0em;
}
.osa-header .osa-logo a {
	display: inline-block;
	text-decoration: none;
	min-height: 40px;
}
.osa-header .osa-logo img {
	display: block;
	width: 140px;
	height: auto;
}
.osa-demos-home .osa-header .osa-logo img {
	display: inline-block;
}

/* Header buttons */
.osa-header > .ui-btn {
	width: 31px;
	height: 31px;
	-webkit-border-radius: 0;
	border-radius: 0;
}
.osa-header > .ui-btn,
.osa-header.ui-header-fixed.ui-fixed-hidden > .ui-btn-icon-notext {
	top: 1.1em;
}
.osa-header .osa-navmenu-link {
	left: 15px;
}
.osa-header .osa-search-link {
	right: 15px;
}
.osa-header > .ui-btn,
.osa-header > .ui-btn .ui-btn-inner {
	border: none;
	background: none;
}
.osa-header > .ui-btn,
.osa-header > .ui-btn .ui-icon {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
/* Custom icons */
.osa-header > .ui-btn .ui-icon {
	background-image: url(/style/icons-sd.png);
	background-color: transparent;
	width: 31px;
	height: 31px;
	margin: 0;
}
.osa-header .osa-navmenu-link .ui-icon {
	background-position: -3px 50%;
}
.osa-header .osa-search-link .ui-icon {
	background-position: -100px -2px;
}
/* Toggle search / close icon */
.osa-search-toggle .osa-search-link .ui-icon {
	background-position: -51px -2px;
}
/* Toggle menu bars / close icon on small screens */
@media all and (max-width:45.9375em) {
	.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open .osa-header .osa-navmenu-link .ui-icon {
		background-position: -51px 50%;
	}
}
/* HD/Retina icon sprite */
@media only screen and (-webkit-min-device-pixel-ratio: 1.3),
       only screen and (min--moz-device-pixel-ratio: 1.3),
       only screen and (min-resolution: 200dpi) {
	.osa-header > .ui-btn .ui-icon {
		background-image: url(/style/icons-hd.png);
		-webkit-background-size: 131px 31px;
		-moz-background-size: 131px 31px;
		-o-background-size: 131px 31px;
		background-size: 131px 31px;
	}
}

/* Global search */
.osa-search {
	display: none;
	background: #eee;
	border-top: 1px solid transparent;
	padding: 0 .7em;
}
.osa-search-toggle .osa-search {
	display: block;
	border-top: 1px solid #e0e0e0;
}
.osa-search	> .ui-listview-filter {
	margin: 0 -.3125em;
	padding: 1px 0; /* to resolve Chrome rendering issue (border-bottom not visible */
}
.osa-demos .osa-search > .ui-listview-filter .ui-input-search {
	margin: 4px .3125em;
}
.osa-search > .osa-list {
	position: absolute;
	right: .7em;
	left: .7em;
	margin-top: 5px;
	z-index: 999;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
	-moz-box-shadow: 0 0 5px rgba(0,0,0,.3);
	box-shadow: 0 0 5px rgba(0,0,0,.3);
}

/* Footer */
.osa-footer {
	background: none;
	border: none;
	color: #777;
	text-shadow: 0 1px 0 #fff;
}
.osa-footer p {
	font-size: .8em;
	font-weight: normal;
	margin: .7em 15px;	
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.osa-footer .osa-version {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size:.9em;
	margin-left:1.1em;
}

/* Responsive - header & footer */
@media all and (min-width:46em) {
	/* Logo */
	.osa-header h1.osa-logo {
		text-align: left;
		margin: 1.6em 0 .8em 15%;
		padding: 0 0 0 35px;
	}
	.osa-header .osa-logo a {
		min-height: 57px;
	}
	.osa-header .osa-logo img {
		display: block;
		width: 200px;
		height: auto;
	}
	.osa-demos-home .osa-header .osa-logo img {
		display: block;
		width: 240px;
		height: auto;
		padding-left:.7em;
		margin-top:.5em;
		margin-bottom:.6em;
	}
	/* Header buttons */
	.osa-header > .ui-btn,
	.osa-header.ui-header-fixed.ui-fixed-hidden > .ui-btn-icon-notext {
		top: 1.4em;
	}
	.osa-header .osa-navmenu-link {
		left: 15%;
		margin-left: 0;
	}
	.osa-header .osa-search-link {
		display: none;
	}
	/* Global nav panel close button (instead of toggle menu bars / close icon on small screens) */
	.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.osa-header::after,
	.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open .osa-header::after {
		content: "";
		display: block;
		position: absolute;
		top: 8px;
		left: 8px;
		width: 20px;
		height: 20px;
		cursor: pointer;
		background-image: url(/style/icons-sd.png);
		background-position: -33px 50%;
		-webkit-background-size: 85px 20px;
		-moz-background-size: 85px 20px;
		-o-background-size: 85px 20px;
		background-size: 85px 20px;
	}
	
	/* Global search */
	.ui-panel-animate.ui-panel-content-wrap > .ui-header.osa-header {
		position: relative;
	}
	.osa-search,
	.osa-search-toggle .osa-search {
		display: block;
		position: absolute;
		top: 1.58125em;
		right: 15%;
		background: none;
		border: none;
	}
	.osa-demos .osa-search > .ui-listview-filter .ui-input-search {
		margin: 0;	
	}
	.osa-search > .osa-list {
		right: .3875em;
		left: auto;
		width: 28em;
	}
	
	/* Footer */
	.osa-footer {
		overflow: hidden;
		position: absolute;
		bottom: 0;
		width: 100%;		
	}
	.osa-footer p {
		margin: 1.5em 0 1.5em 15%;
		float: left;		
	}
	.osa-footer .osa-version {
		margin: 1.5em 15% 1.5em 0;
		float: right;
		font-weight: 700;
	}
	.osa-demos-home .osa-footer p.osa-version {
		display: none;
	}
}
/* Global nav panel close button HD/Retina icon */
@media only screen and (min-width:46em) and (-webkit-min-device-pixel-ratio: 1.3),
       only screen and (min-width:46em) and (min--moz-device-pixel-ratio: 1.3),
       only screen and (min-width:46em) and (min-resolution: 200dpi) {
	/* global nav panel close button */
	.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open.osa-header::after,
	.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open .osa-header::after {
		background-image: url(/style/icons-hd.png);
	}
}

/* Content */

/* Headings */
.osa-content > h1 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 2.4em;
	color: #555;
	clear:both;
}
.osa-faq .osa-content > h1 {
	margin-top: -.4em;
	font-size: 1.8em;
}
.osa-content > h2,
.osa-content > h3,
.osa-content > h4,
.osa-home-welcome h2 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 1.6em;
	color: #74b042;
	padding-top: .6em;
	clear:both;
}
.osa-home-welcome h2 {
	font-size:1.5em;
	margin-left:.5em;
	margin-top:-.2em;
}
.osa-home-welcome .osa-button {
	margin-left:.8em;
	margin-top:-.4em;
}
.osa-home-welcome .osa-button .ui-btn-text {
	font-size:1.1em;
	font-weight:300;
}
h2.osa-home-widget {
	font-size:1.5em;
	margin-left:.6em;
}
.home-pop p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding:.5em .5em;
	width:16em;
}
.home-pop .ui-btn-text {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.osa-content > h4 {
	font-size: 1.2em;
}

/* Paragraphs */
.osa-content > p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400; 
	font-size: 0.95em;
}
.osa-content .osa-intro {
	font-size: 120%;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 135%;
	margin-top: -.5em;
	margin-bottom: .5em;
	padding-bottom: 2.6em;
	color: #555;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e5e5e5;
	border-bottom-color: rgba(0,0,0,.1);
}
.osa-demos-home .osa-content .osa-intro {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: .9em;
	margin: .5em .8em 1em .8em;
	padding-bottom: .5em;
	border: none;
	color: #555;
}
.osa-demos-index .osa-content p.osa-intro {
	border: none;
}
.osa-content ul:not(.ui-listview),
.osa-content ul:not(.ui-listview) li {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400; 
	font-size: 0.95em;
	line-height: 1.7;
}
.osa-content ul:not(.ui-listview) {
	margin: 1em 0;
	padding-left: 1.3em;
}

/* Links */
.osa-content > p a.ui-link,
.osa-content p.osa-intro a.ui-link {
	font-weight: 400; 
	text-decoration: none;
}
.osa-content > p a.ui-link:hover,
.osa-content p.osa-intro a.ui-link:hover {
	text-decoration: underline;
}

/* Responsive - content */
@media all and (min-width:46em) {
	.osa-demos .osa-content {
		padding: 15px 15% 4.5em; /* padding bottom is because of footer position absolute */
	}
	.osa-demos .osa-content.osa-fullwidth {
		padding: 15px;
	}
	.osa-demos-home .osa-content p.osa-intro {
		font-size: 1.1em;
	}
	
	/* Homepage */	
	.osa-demos-home .osa-home-welcome {
		float: left;
		width: 48%;
		padding-right:6%;
		margin-top:.4em;
	}
	.osa-demos-home .osa-home-list {
		float: left;
		width: 45%;
	}
	.osa-demos-home h2.osa-home-widget {
		clear:left;
		padding-top:2em;
	}
}

/* Code */
.osa-content pre,
.osa-content code {
	font-family: "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	background: #e5e5e5;
	background: rgba(0,0,0,.05);
	padding: 0 .125em;
}
.osa-content pre {
	padding: 0 1em 1.2em;
	white-space: pre-wrap;	
}
.osa-content pre > code {
	padding: 0;	
	background: none;
	font-size:.8em;
}

/* Buttons */
.osa-content .osa-api-link,
.osa-content .osa-button,
.osa-view-source-link .ui-btn {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400; 
}
.osa-home-welcome .osa-button .ui-icon {
	opacity: .6;
}

/* API link */
.osa-content .osa-api-link {
	float: right;
	margin-top: .3em;
}
.osa-content .osa-api-link .ui-btn-text {
	padding-left: .3em;
	padding-right: .2em;
}
.osa-content .osa-api-link .ui-icon {
	opacity: .6;
}

/* Deeplinks */
.osa-content a.osa-deeplink {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	display: block;
	text-align: right;
	font-size: 0.8em;
	margin-top: .8em;
	margin-bottom: 1em;
	margin-right:.6em;
	text-decoration: none;
	float:right;
}
.osa-content p.osa-intro + a.osa-deeplink {
	text-align: left;
}
.osa-content a.osa-deeplink span {
	width: 18px;
	display: inline-block;
	margin-top: 1px;
	margin-left: 10px;
	float: right;
	opacity: .5;
}
.osa-content p.osa-intro + a.osa-deeplink span {
	float: right;
	margin-left: 10px;
}
.osa-content a.osa-open-quicklink-panel {
	margin-top: -3.3em;
}

/* Lists */
.osa-search .osa-list {
	font-weight: 400; 
	font-size: 0.88em;
}
.osa-list .ui-li-heading  {
	font-weight: 700; 
	font-size: .9em;
	color: #07ade0;
	margin-top: .1em;
}
.osa-list .ui-li-desc  {
	font-weight: 300; 
	font-size: .8em;
	color: #777;
	margin-bottom: .1em;
}
/* List dividers */
.osa-list .ui-bar-d {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: .9em;
	padding: .7em 15px;
	background-image: none;
	background-color: #f8f8f8;
	border-color: #e8e8e8;
	color: #74b042;
	text-shadow: none;
}
/* List buttons */
.osa-list .ui-btn-inner {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300; 
	font-size: 0.95em;
	border-top: none;
}
.osa-list .ui-btn-up-d, 
.osa-list .ui-btn-hover-d, 
.osa-list .ui-btn-down-d {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300; 
	border-color: #eee;
}
.osa-list .ui-btn-up-d {
	background-color: #fff;
}
.osa-list .ui-btn-hover-d {
	background-color: #f8f8f8;
}
.osa-list .ui-btn-up-d,
.osa-list .ui-btn-hover-d {
	-webkit-background-image: none;
	-moz-background-image: none;
	-o-background-image: none;
	background-image: none;
}
.osa-list .ui-btn-up-d.ui-btn-active, 
.osa-list .ui-btn-hover-d.ui-btn-active, 
.osa-list .ui-btn-down-d.ui-btn-active,
.osa-list .ui-btn-up-d.ui-focus, 
.osa-list .ui-btn-hover-d.ui-focus, 
.osa-list .ui-btn-down-d.ui-focus {
	border-color: #34bae8;
	background-color: #34bae8;
	-webkit-background-image: none;
	-moz-background-image: none;
	-o-background-image: none;
	background-image: none;
	color: #fff;
	text-shadow: 0 1px 0 #369;	
}
.osa-list .ui-btn-up-d.ui-focus, 
.osa-list .ui-btn-hover-d.ui-focus, 
.osa-list .ui-btn-down-d.ui-focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.osa-list .ui-btn-active a.ui-link-inherit,
.osa-list .ui-btn-active .ui-li-heading,
.osa-list .ui-btn-active .ui-li-desc,
.osa-list .ui-focus a.ui-link-inherit,
.osa-list .ui-focus .ui-li-heading,
.osa-list .ui-focus .ui-li-desc {
	color: #fff;
}
.osa-demos .osa-list .ui-li .ui-btn-text a.ui-link-inherit,
.osa-demos .osa-list .ui-li .ui-li-desc {
	text-overflow: clip;
	overflow: visible;
	white-space: normal;
}
/* ### TEMPORARY ### */
/* padding count bubble position when icon is false needs to be fixed in the framework CSS (some classes shouldn't be added) */
.osa-list .ui-li-count {
	right: 10px !important;
}
.osa-demos .osa-list .ui-btn-icon-right .ui-btn-inner {
	padding-right: 0;
}
.osa-demos .osa-list .ui-li-has-arrow .ui-btn-inner a.ui-link-inherit {
	padding-right: 15px;
}
/* ### END ### */




/* Nav panels */
/* Reveal menu shadow on top of the list items */
.ui-panel-display-reveal {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}
.ui-panel-content-fixed-toolbar-position-left.ui-panel-content-fixed-toolbar-open,
.ui-panel-content-wrap-position-left.ui-panel-content-wrap-open {
	-webkit-box-shadow: -5px 0 5px rgba(0,0,0,.10);
	-moz-box-shadow: -5px 0 5px rgba(0,0,0,.10);
	box-shadow: -5px 0 5px rgba(0,0,0,.10);
}


/* Swatch F */
.ui-bar-f {
	border: 1px solid #86D641;
	background: #6ABA2F;
	color: #fff;
	text-shadow: 0 1px 1px #335413;	
	font-weight: bold;
}
.ui-bar-f,
.ui-bar-f .ui-link-inherit,
.ui-bar-f .ui-link {
	color: #fff;
}
.ui-btn-up-f {
	border: 1px solid #3B6F07;
	background: #56A00E;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px 1px #234403;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#74b042), to(#56A00E)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#74b042, #56A00E); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient(#74b042, #56A00E); /* FF3.6 */
	background-image: -ms-linear-gradient(#74b042, #56A00E); /* IE10 */
	background-image: -o-linear-gradient(#74b042, #56A00E); /* Opera 11.10+ */
	background-image: linear-gradient(#74b042, #56A00E);
}
.ui-btn-up-f a.ui-link-inherit {
	color: #fff;
}
.ui-btn-hover-f {
	border: 1px solid #3B6F07;
	background: #6EBC1F;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px 1px #234403;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#8FC963), to(#6EBC1F)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#8FC963, #6EBC1F); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient(#8FC963, #6EBC1F); /* FF3.6 */
	background-image: -ms-linear-gradient(#8FC963, #6EBC1F); /* IE10 */
	background-image: -o-linear-gradient(#8FC963, #6EBC1F); /* Opera 11.10+ */
	background-image: linear-gradient(#8FC963, #6EBC1F);
}
.ui-btn-hover-f a.ui-link-inherit {
	color: #fff;
}
.ui-btn-down-f {
	border: 1px solid #3B6F07;
	background: #3d3d3d;
	font-weight: bold;
	color: #fff;
	text-shadow: 0 1px 1px #234403;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#56A00E), to(#64A234)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient(#56A00E, #64A234); /* Chrome 10+, Saf5.1+ */
	background-image: -moz-linear-gradient(#56A00E, #64A234); /* FF3.6 */
	background-image: -ms-linear-gradient(#56A00E, #64A234); /* IE10 */
	background-image: -o-linear-gradient(#56A00E, #64A234); /* Opera 11.10+ */
	background-image: linear-gradient(#56A00E, #64A234);
}
.ui-btn-down-f a.ui-link-inherit {
	color: #fff;
}
.ui-btn-up-f,
.ui-btn-hover-f,
.ui-btn-down-f {
	font-weight: bold;
	text-decoration: none;
}

.cy {
	height: 100%;
	width: 100%;
	min-width:500px;
	min-height:500px;
}